# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.idea/
dist
.sourcemaps
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Podfile.lock
example/www/
example/electron/www/*
example/electron/capacitor.config.json
example/android/app/src/main/assets/public/*
!example/android/app/src/main/assets/public/.gitkeep
example/ios/IonicRunner/public/*
!example/ios/IonicRunner/public/.gitkeep
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
/package-lock.json
/typings
