page-home {
    body { margin: 0; overflow: hidden; }
    .timer  {
    //   float: left;
    //   width: 50%;
      text-align: center;
    //   background: #777;
    //   height: 100%;
    }
    .timer button {
      // margin: 47% 0 0;
      font-size: 45px;
      width: 275px;
    }

    .timer input {
      margin: 47% 0 0;
      font-size: 75px;
      text-align: center;
      width: 100%;
      border: solid 4px black;
      background: none;

      // hide cursor
      color: transparent;
      text-shadow: 0 0 0 #2196f3;
      &:focus {
          outline: none;
      }
    }
    .running { background: white; }
    .started .timer input         { opacity: 0.3; border: solid 4px transparent;}
    .started .timer.running input { opacity: 1.0; color: green; }
}
