<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header *ngIf="serverAvailable">
      Web Server Settings
    </ion-list-header>
    <ion-item *ngIf="serverAvailable">
      <ion-label>Server Enabled</ion-label>
      <ion-toggle checked="{{serverEnabledSetting}}" (ionChange)="onToggleChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="serverAvailable">
      <ion-label>Server URL</ion-label>
      <ion-label style="text-align: right;">{{ serverAddress }}</ion-label>
    </ion-item>
    <ion-list-header>
      Game Settings
    </ion-list-header>
    <ion-item>
      <ion-label>Game Size</ion-label>
      <ion-select [(ngModel)]="gameType" (ionChange)="onSelectChange($event)">
        <ion-option value="0">0 points / 20 minutes</ion-option>
        <ion-option value="1">25 points / 30 minutes</ion-option>
        <ion-option value="2">50 points / 42 minutes</ion-option>
        <ion-option value="3">75 points / 60 minutes</ion-option>
        <ion-option value="4">100 points / 75 minutes</ion-option>
        <ion-option value="5">150 points / 120 minutes</ion-option>
        <ion-option value="6">200 points / 150 minutes</ion-option>
      </ion-select>
    </ion-item>
    <ion-list-header>
      About the App
    </ion-list-header>
    <a ion-item href="http://brutaldamage.blog" target="_blank">Made with ❤ by Brutal Damage</a>
    <a ion-item href="https://github.com/brutaldamage/dual-attack" target="_blank">Code On Github</a>
  </ion-list>
</ion-content>