.dark-theme {

    .ion-content {
        background-color: #222222;
        color: #ffffff;
    }

    .toolbar-title {
        color: #ffffff
    }
  
  .toolbar-background {
    background: #181818;
  }

  .bar-button {
      color: #ffffff;
  }

  .bar-button-default-ios {
      .text-ios {
          color: #ffffff;
      }
  }

  .item {
      background-color: #222222;
      color: #ffffff;
  }
  
  .list-header-ios { color: #ffffff;}

    .ion-md-close::before {
          color: #ffffff;
      }

      .checkbox-md .checkbox-checked, .checkbox-ios .checkbox-checked {
        border-color:gray;
        background-color: gray;
    }
}